<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div>
        <ul class="nav navbar-nav pull-right">
          <li class="active"><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("producst"), "#" %></li>
          <li><%= link_to t("introduction"), introduction_path %></li>
          <li><%= link_to t("partners"), "#" %></li>
          <li><%= link_to t("contact"), contact_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>